<table class="list-table">
    <thead>
    <tr>
        <th>Beer Name</th>
        <th>Brewery</th>
        <th>Avg. Rating</th>
    </tr>
    </thead>

    <tbody>
    <% @beers.where('inventory > ?', 0).each do |beer| %>
        <tr>
            <td><%= beer.name %></td>
            <td><%= beer.brewery.name %></td>
            <td><%= beer.average_rating || 'Not Rated' %></td>
        </tr>
    <% end %>
    </tbody>
</table>