<div class="section-title">
    <%= @beers.count %> different beers currently in stock
</div>

    <% @beers.where('inventory > ?', 0).each_with_index do |beer, index| %>
        <div class="activity-item">
            <strong><%= beer.name %></strong> from <strong><%= beer.brewery.name %></strong>
        </div>
        <% if index == 5 && @beers.count > 6 %>
            <div class="activity-item" id="showHidden">
                <a href="#">And <%= @beers.count - (index + 1) %> more</a>
            </div>
            <div class="hidden" id="hiddenBeers">
        <% end %>
        <% if beer == @beers.last && index > 5 %>
            </div> <!-- /.hidden -->
        <% end %>
    <% end %>