<!DOCTYPE html>
<html>
<head>
    <title>Palomino Labs - Beer Reviews Widget</title>
    <style type="text/css">
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            padding: 0;
            margin: 0;
            font-weight: 300;
        }

        strong {
            font-weight: 500;
        }

        .activity-item {
            padding: 10px;
            cursor: default;
            border-bottom: 1px solid #ccc;
            line-height: 20px;
            transition: background 0.25s;
            -webkit-transition: background 0.25s;
            -moz-transition: background 0.25s;
        }

        .activity-item:hover {
            background: #F9EEC2;
        }

        .activity-item img {
            height: 16px;
            vertical-align: baseline;
        }
    </style>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
