<div class='panel panel-default'>
    <div class='panel-heading'>
        <%= link_to beer_added_activity.beer do %>
            <%= beer_added_activity.beer.name %> was added by <%= beer_added_activity.user.name %>!
        <% end %>
    </div>
</div>