<div class='panel panel-default'>
    <div class='panel-heading'>
        <%= link_to beer_reviewed_activity.review.beer do %>
            <%= beer_reviewed_activity.review.user.name %> rated <%= beer_reviewed_activity.review.beer.name %> <%= beer_reviewed_activity.review.rating %> !
        <% end %>
    </div>
</div>