<div class="row">
    <div class="col-xs-12">
        <h1>Breweries</h1>

        <%= render 'list' %>

        <br>
        <% if current_user %>
            <%= link_to 'New Brewery', new_brewery_path, class: 'btn btn-default' %>
        <% end %>
        <br>
    </div>
</div>
