<div class='row'>
    <div class="col-sm-12">
        <h1 class='beer-title'><%= @brewery.name %></h1>
    </div>
</div>

<%= link_to 'Beers', brewery_beers_path(@brewery) %> |
<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
