<div class="row">
    <div class="col-xs-12">
        <h1>Beers</h1>

        <%= render 'list' %>

        <br>
        <% if current_user %>
            <%= link_to '+ Add Beer', new_beer_path, class: 'btn btn-primary' %>
        <% end %>
        <br>
    </div>
</div>

