<div class='panel panel-default'>
    <div class='panel-heading'>
        <%= link_to beer_opened_activity.beer do %>
            <%= beer_opened_activity.beer.name %> was opened by <%= beer_opened_activity.user.name %>!
        <% end %>
    </div>
</div>