// Place all the styles related to the Beers controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.beers-list td:last-of-type {
    min-width: 150px;
}

.beer-index-current {
  font-weight: bold;
}

.beer-title {
  margin-right:5px;
  display: inline;

  small {
    a {
        color: #d1d1d1;
        text-decoration: underline;
    }

    color: #d1d1d1;
  }
}

.beer-avg-rating {
  @extend .label;
  @extend .label-default;
}

.beer-title-row {
  @extend .row;
  margin: 20px 0;

  .beer-thumbnail {
    margin-right: 10px;
  }
}

.beer-thumbnail {
  max-width: 33px;
  max-height: 33px;
  vertical-align: text-bottom;
}