// Place all the styles related to the Beers controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.beer-index-current {
  font-weight: bold;
}

.beer-title {
  margin-right:5px;
  display: inline;
}

.beer-avg-rating {
  @extend .label;
  @extend .label-default;
}

.beer-title-row {
  @extend .row;
  margin: 20px 0;
}