// Place all the styles related to the Beers controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.beer-title {
  margin: 0px 5px 0px 0px;
  display: inline;
}

.beer-avg-rating {
  @extend .badge;
  margin-bottom: 5px;
}