<div class='row'>
    <div class="col-sm-12">
        <h1>Activities Feed</h1>
        <br>
    </div>
</div>
<div class='row'>
    <div class='col-sm-12'>
        <%= render @activities %>
        <%= paginate @activities %>
    </div>
</div>
