<p>
    <strong>Reviewer:</strong>
    <%= review.reviewer %>
</p>

<p>
    <strong>Rating: <%= review.rating %></strong>
    <br>
    <%= review.comment %>
    <% if current_user %>
        <%= link_to 'Destroy', review, method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
</p>