<p>
    <strong>Reviewer:</strong>
    <%= review.reviewer %>
</p>

<p>
    <strong>Rating: <%= review.rating %></strong>
    <br>
    <%= review.comment %>
    <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>