<div class="activity-item">
    <%= image_tag 'activity-open.png' %>
    <strong><%= beer_opened_activity.beer.name %></strong> from <strong><%= beer_opened_activity.beer.brewery.name %></strong> was opened
</div>
